<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forkieplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".sharedpreference.ForkieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForkiePlayer">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sign.findpwd.FindPwdActivity"
            android:exported="false" />
        <activity
            android:name=".sign.findpwd.FindPwdAuthCodeActivity"
            android:exported="false" />
        <activity
            android:name=".sign.findpwd.FindPwdEmailActivity"
            android:exported="false" />
        <activity
            android:name=".sign.signup.SignUpPwdActivity"
            android:exported="false" />
        <activity
            android:name=".sign.signup.SignUpAuthCodeActivity"
            android:exported="false" />
        <activity
            android:name=".sign.signup.SignUpEmailActivity"
            android:exported="false" />
        <activity
            android:name=".play.PlayEditActivity"
            android:exported="false" />
        <activity
            android:name=".sign.signin.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".play.PlayActivity"
            android:exported="false" />
        <activity
            android:name=".video.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".playlist.MainActivity"
            android:exported="false" />
        <activity
            android:name=".sign.IntroActivity"
            android:exported="false" />
    </application>

</manifest>